.nav{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 100%;
    height: fit-content;
    /* padding: 1rem; */
}
.headingText{
    height: 3rem;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    align-items: center;

}
.taskFilters{
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 3rem;
}
.filters{
    width: fit-content;
    display: flex;
    height: 100%;
    transition: all 0.5s;
}
.covered{
    opacity: 0.5;
}

.taskFilters:nth-last-child{
    margin-left: 2rem;
}

@media screen and (max-width: 1000px) {
    .nav {
        width: 100%;
        box-sizing: border-box;
    }
    .taskFilters {
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
    }
    .taskFilters:first-child {
    }
    
}