.taskFilter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0 1rem;
    background-color: var(--stroke-color);
    cursor: pointer;
    margin-left: 1rem;
    transition: all 0.2s;
    margin-bottom: 1rem;
}
.taskFilter:hover {
    background-color: var(--text-color);
    color: var(--stroke-color);
}
/* .taskFilter:not(:first-child) {
    margin-left: 1rem;
} */

.active {
    background-color: var(--hover-color);
    color: var(--btn-text-color);
}
.covered {
    opacity: 0.5;
}