@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body, #root {
    width: 100%;
    height: 100%;
}


body {
    --bg-color: #16161a;
    --text-color: #94a1b2;
    --btn-text-color: #fffffe;
    --headline-color: #fffffe;
    --btn-color: #7f5af0;

    --stroke-color: #010101;
    --hover-color: #7f5af0;
    --secondary-color: #72757e;
    --tertlary-color: #2cb67d;
    --error-color: #B80C09;

    font-family: Raleway;
    font-size: 1rem;

    color: var(--text-color);
    background-color: var(--bg-color);

}
h1, h2, h3 {
    margin: 0;
}
a {
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    color: var(--text-color);
}
a:hover {
    text-decoration: underline;
}

.inputError{
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--error-color);
    padding: 5px 15px;
    color: var(--headline-color);
    margin-top: 0;
    font-weight: 600;
    border: 3px solid var(--stroke-color);
}

*::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--stroke-color);;
}
