.tasksWrapper{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tasksInner{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 925px;
    overflow-y: scroll;
    padding: 0 1rem;
}

@media screen and (max-width: 1000px) {
    .tasksWrapper {
        width: 100%;
    }
    .tasksInner {
        width: 100%;
    } 
}