.sidebarWrapper{
    overflow: hidden;
    /* min-width: 200px;
    max-width: 250px; */
    width: 4rem;
    min-width: 4rem;
    min-height: 100%;
    height: 100%;
    background-color: var(--stroke-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarInner {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .sidebarWrapper{
        width: 100%;
        max-width: 100%;
        min-height: 0;
        max-height: 4rem;
    }
    .sidebarInner {
        width: 100%;
        padding: 0 1rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}
@media screen and (max-width: 630px) { 
    .sidebarWrapper {
        display: none;
    }
}