.button {
    border: none;
    padding: 0 1rem;
    margin-top: 1rem;
    box-shadow: none;
    height: 3rem;
    background-color: var(--btn-color);
    font-weight: 400;
    color: var(--btn-text-color);
    cursor: pointer;
    transition: background-color 0.2s;
}
.button:hover {
    background-color: var(--stroke-color);
    box-shadow: 0 0 2px 2px var(--btn-text-color);
}
