.taskLayoutWrapper{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}
.navWrapper{
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-between;
    width: 972px;
}

@media screen and (max-width: 1000) {
    .taskLayoutWrapper {
        width: 100%;
        flex-grow: 0;
        
    }
    .navWrapper {
        width: 100%;
    }
    
}