.formWrapper{
    min-height: 400px;
    width: 300px;
    border: 5px solid var(--stroke-color);
    background-color: var(--bg-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.headingText{
    color: var(--btn-text-color);
}
.formBody{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}